<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All artists</title>
</head>
<body>
    <h1>All artists:</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Nick</th>
        </tr>
        <tr th:each="artist : ${artists}">
            <td th:text="${artist.id}">artistId</td>
            <td th:text="${artist.firstName}">artistFName</td>
            <td th:text="${artist.lastName}">artistLName</td>
            <td th:text="${artist.nick}">artistNick</td>
        </tr>
    </table>
</body>
</html>